<% if type == :new %>
  <% action_url = users_url %>
  <% button_val = "JOIN THE CAT-ASTROPHE!" %>
<% elsif type == :login %>
  <% action_url = session_url %>
  <% button_val = "GOTTA RENT THOSE CATS!" %>
<% end %>

<form action="<%=action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label>Username:
  <input type="text" name="user[user_name]" value="">
</label>

<label>Password:
  <input type="password" name="user[password]" value="">
</label>

<input type="submit" value="<%= button_val %>">

</form>
